@charset "UTF-8";

@media screen and (min-width: 768px) {
    
    header > h1{
        padding-top: 50px;
        font-size: 40px;
    }
    
    section{
        width: 520px;
        height: 600px;
        
    }
    
    section > div#horas{
        font-size: 50px;
        padding-top: 50px;
    }
    
    section > div#imagem{
        padding-top: 50px;
    }
    
    section > div#controle p{
        padding: 40px;
    }
    
    footer a:hover{
        
        color: rgb(197, 197, 197);
    }

}