@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
    height: 100vh;
    text-align: center;
    margin: auto;
}

header > h1{
    padding: 20px;
}

section{
    width: 320px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
}

section > div#horas{

}

section > div#imagem{
    
}

footer{
   padding-top: 165px;
    
}